*~
vadd.ltx
\#Makefile\#
.ipcache/
.Xil/
_x/
app.exe
emconfig.json
profile_summary.csv
timeline_trace.csv
v++*.log
vadd.xclbin
vadd.xclbin.info
vadd.xclbin.link_summary
vadd.xo
vadd.xo.compile_summary
xcd.log
xclbin.run_summary
xrc.log
emulation_debug.log
profile_kernels.csv
timeline_kernels.csv
vadd.xclbin.run_summary
vitis_analyzer.jou
vitis_analyzer.log
xilinx_u280_xdma_201920_3-0-vadd.protoinst
xilinx_u280_xdma_201920_3-0-vadd.wcfg
xilinx_u280_xdma_201920_3-0-vadd.wdb
xilinx_u280_xdma_201920_3-0-vadd_simulate.log
xilinx_u280_xdma_201920_3-0-vadd_xsc_report.log